body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --white: #fff;
    --black: #000;
    --light-blue:#005490;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
    gap: 20px;
}

.enterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter {
    width: 50%;
    padding: 12px 20px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

.btn {
    padding: 12px 15px;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: green;
    color: var(--white);
    margin-left: 20px;
    cursor: pointer;
}

#search {
    width: 50%;
    padding: 12px 20px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

#list {
    list-style: none;
    width: 50%;
}

#list > li {
    border: 1px solid grey;
    padding: 10px;
    background-color: var(--white);
    width: 50%;
}

#list>li:hover {
    background-color: lightblue;
}